Repository CrayLabs/SmartSim, pull requests merged in 2021-07, with the labels that each got.

#58 Edit Makefile and test fix
  Makefile
  tests/test_dbnode.py
Labels: area: test

#61 Manifest and preamble
  .gitignore
  smartsim/control/__init__.py
  smartsim/control/controller.py
  smartsim/control/manifest.py
  smartsim/database/orchestrator.py
  smartsim/experiment.py
  smartsim/generation/generator.py
  smartsim/launcher/launcher.py
  smartsim/launcher/step/cobaltStep.py
  smartsim/launcher/step/pbsStep.py
  smartsim/launcher/step/slurmStep.py
  smartsim/settings/alpsSettings.py
  smartsim/settings/settings.py
  smartsim/utils/entityutils.py
  smartsim/utils/log.py
  tests/test_configs/smartredis/consumer.py
  tests/test_configs/smartredis/producer.py
  tests/test_controller_errors.py
  tests/test_ensemble.py
  tests/test_manifest.py
  tests/with_smartredis/test_smartredis.py
Labels: area: Cobalt, area: PBSpro, area: Slurm, area: job, area: settings, type: feature, type: refactor

#60 Orchestrator Function that returns DB address
  smartsim/database/orchestrator.py
Labels: area: orchestrator, type: feature

#67 Fix orchestrator bugs introduced in 98341ca
  .github/workflows/run_local_tests.yml
  Makefile
  conftest.py
  smartsim/database/orchestrator.py
  tests/test_configs/smartredis/consumer.py
  tests/test_configs/smartredis/producer.py
  tests/test_ensemble.py
  tests/test_orchestrator.py
  tests/with_smartredis/test_smartredis.py
Labels: area: orchestrator, type: bug

#69 Update RAI backends and installation
  .github/workflows/run_local_tests.yml
  conftest.py
  requirements-dev.txt
  setup.cfg
  smart
  smartsim/__init__.py
  smartsim/bin/scripts/build-redisai-cpu.sh
  smartsim/bin/scripts/build-redisai-gpu.sh
  smartsim/bin/smartsim_setup
  smartsim/config.py
  smartsim/constants.py
  smartsim/tf/__init__.py
  smartsim/tf/utils.py
  tests/backends/run_sklearn_onnx.py
  tests/backends/run_tf.py
  tests/backends/run_torch.py
  tests/backends/test_onnx.py
  tests/backends/test_tf.py
  tests/backends/test_torch.py
  tests/test_orchestrator.py
  tests/test_smartredis.py
Labels: area: build, area: test, area: third-party, type: feature
