Repository CrayLabs/SmartSim, pull requests merged in 2021-06, with the labels that each got.

#51 Fix to documentation
  smartsim/entity/model.py
  smartsim/experiment.py
Labels: area: docs, type: refactor

#52 WLMLauncher
  smartsim/config.py
  smartsim/control/jobmanager.py
  smartsim/database/orchestrator.py
  smartsim/entity/entityList.py
  smartsim/error/errors.py
  smartsim/generation/generator.py
  smartsim/launcher/cobalt/cobaltCommands.py
  smartsim/launcher/cobalt/cobaltLauncher.py
  smartsim/launcher/cobalt/cobaltParser.py
  smartsim/launcher/launcher.py
  smartsim/launcher/local/local.py
  smartsim/launcher/pbs/pbsLauncher.py
  smartsim/launcher/slurm/slurmLauncher.py
  smartsim/launcher/step/alpsStep.py
  smartsim/launcher/stepMapping.py
  smartsim/launcher/taskManager.py
  tests/test_configs/smartredis/consumer.py
  tests/test_configs/smartredis/producer.py
  tests/with_smartredis/test_smartredis.py
Labels: area: Cobalt, area: PBSpro, area: Slurm, type: refactor

#53 Increase IL Test Coverage to 90%
  smartsim/entity/ensemble.py
  smartsim/entity/model.py
  smartsim/launcher/launcher.py
  tests/test_config.py
  tests/test_configs/cov/local_cov.cfg
  tests/test_dbnode.py
  tests/test_ensemble.py
  tests/test_entitylist.py
  tests/test_experiment.py
  tests/test_model.py
  tests/test_modelwriter.py
  tests/test_run_settings.py
  tests/with_smartredis/test_smartredis.py
Labels: area: test

#55 Remove usage of redis-py-cluster
  requirements-dev.txt
  requirements.txt
  setup.cfg
  smartsim/database/orchestrator.py
Labels: area: orchestrator, type: feature
