Repository CrayLabs/SmartSim, pull requests merged in 2022-01, with the labels that each got.

#119 Add directory support for generator to_configure parameter
  pyproject.toml
  smartsim/entity/files.py
  smartsim/experiment.py
  smartsim/generation/generator.py
  smartsim/settings/cobaltSettings.py
  smartsim/settings/lsfSettings.py
  smartsim/settings/pbsSettings.py
  smartsim/settings/settings.py
  smartsim/settings/slurmSettings.py
  tests/on_wlm/test_launch_orc_slurm.py
  tests/on_wlm/test_simple_base_settings_on_wlm.py
  tests/test_batch_settings.py
  tests/test_configs/circular_config/sub_dir/circle
  tests/test_configs/circular_config/sub_dir/hello.sh
  tests/test_configs/tag_dir_template/nested_0/tagged_0.sh
  tests/test_configs/tag_dir_template/nested_1/tagged_1.sh
  tests/test_generator.py
Labels: area: generation

#130 Add Build Matrix for CI
  .github/workflows/run_local_tests.yml
  .github/workflows/run_tests.yml
  smartsim/_core/_install/builder.py
Labels: area: CI/CD

#133 Docker Documentation Builds
  .github/workflows/build_docs.yml
  Makefile
  doc/api/smartsim_api.rst
  doc/conf.py
  doc/requirements-doc.txt
  docker-compose.yml
  docker/dev/Dockerfile
  docker/docs/dev/Dockerfile
  setup.py
  smartsim/_core/_install/buildenv.py
  smartsim/_core/_install/builder.py
  tutorials/01_getting_started/01_getting_started.ipynb
Labels: area: docs, area: CI/CD, type: chore
