Repository CrayLabs/SmartSim, pull requests merged in 2023-10, with the labels that each got.

#383 Drop support for RedisAI 1.2.5
  .github/workflows/run_tests.yml
  README.md
  doc/changelog.rst
  doc/installation_instructions/basic.rst
  doc/installation_instructions/platform/olcf-summit.rst
  smartsim/_core/_cli/build.py
  smartsim/_core/_install/buildenv.py
  smartsim/_core/_install/builder.py
  smartsim/_core/bin/modules/FindTensorFlow.cmake
  smartsim/_core/entrypoints/colocated.py
  tests/backends/test_cli_mini_exp.py
Labels: area: build, area: ML

#366 Improvements to colocated DB launch
  conftest.py
  smartsim/_core/entrypoints/colocated.py
  smartsim/_core/launcher/step/step.py
  tests/backends/test_dbmodel.py
  tests/test_colo_model_local.py
Labels: area: generation, bug: minor, type: usability

#379 DBNode: MPMD RunSettings Unification
  smartsim/_core/config/config.py
  smartsim/_core/entrypoints/redis.py
  smartsim/database/orchestrator.py
  smartsim/entity/dbnode.py
  tests/test_dbnode.py
  tests/test_orchestrator.py
  tests/test_smartredis.py
Labels: area: orchestrator, type: refactor

#387 Add support for MINBATCHTIMEOUT
  doc/changelog.rst
  smartsim/_core/entrypoints/colocated.py
  smartsim/_core/utils/redis.py
  smartsim/entity/ensemble.py
  smartsim/entity/model.py
Labels: area: orchestrator, API break

#394 Expose first_device parameter for setting models, scripts, functions
  doc/changelog.rst
  smartsim/_core/entrypoints/colocated.py
  smartsim/_core/launcher/colocated.py
  smartsim/entity/dbobject.py
  smartsim/entity/ensemble.py
  smartsim/entity/model.py
  tests/backends/test_dbmodel.py
  tests/backends/test_dbscript.py
Labels: area: test, area: orchestrator, User Issue, API break, area: api

#282 Adding affinity scripts to PALS mpiexec settings
  smartsim/settings/mpiSettings.py
  smartsim/settings/palsSettings.py
  tests/test_pals_settings.py
Labels: type: feature, area: settings, area: api, area: workload manager

#406 Fixes to multi-db introspection
  smartsim/_core/control/jobmanager.py
  smartsim/_core/control/manifest.py
Labels: area: orchestrator, area: launcher, bug: minor
