Repository CrayLabs/SmartSim, pull requests merged in 2023-08, with the labels that each got.

#331 Log sacct failures
  doc/changelog.rst
  smartsim/_core/launcher/slurm/slurmLauncher.py
Labels: area: launcher, type: usability, Short task

#341 Mitigate suppressed protected-access errors from pylint
  smartsim/_core/control/controller.py
  smartsim/_core/control/manifest.py
  smartsim/_core/generation/generator.py
  smartsim/_core/launcher/step/cobaltStep.py
  smartsim/_core/launcher/step/pbsStep.py
  smartsim/_core/launcher/step/slurmStep.py
  smartsim/entity/ensemble.py
  smartsim/entity/entityList.py
  smartsim/entity/model.py
  smartsim/settings/base.py
  tests/test_batch_settings.py
  tests/test_lsf_settings.py
Labels: type: chore, type: usability

#334 Apply typehints to `smartsim._core.launcher.step.*`
  pyproject.toml
  smartsim/_core/launcher/step/alpsStep.py
  smartsim/_core/launcher/step/cobaltStep.py
  smartsim/_core/launcher/step/localStep.py
  smartsim/_core/launcher/step/lsfStep.py
  smartsim/_core/launcher/step/mpiStep.py
  smartsim/_core/launcher/step/pbsStep.py
  smartsim/_core/launcher/step/slurmStep.py
  smartsim/_core/launcher/step/step.py
  tests/backends/test_dbmodel.py
Labels: type: usability

#346 Add support for Slurm heterogeneous jobs
  smartsim/_core/launcher/slurm/slurmLauncher.py
  smartsim/database/orchestrator.py
  smartsim/settings/slurmSettings.py
  tests/on_wlm/test_het_job.py
Labels: area: settings, area: launcher, area: workload manager

#349 Remove ensemble generation from DB Object tests
  tests/backends/test_dbmodel.py
  tests/backends/test_dbscript.py
Labels: area: test, area: CI/CD, bug: minor

#343 Integrate PalsMpiexecSettings into Experiment factory methods
  .gitignore
  conftest.py
  smartsim/_core/control/controller.py
  smartsim/_core/launcher/launcher.py
  smartsim/database/orchestrator.py
  smartsim/settings/palsSettings.py
  smartsim/settings/settings.py
  tests/test_configs/mpi_impl_stubs/pals/mpiexec
  tests/test_experiment.py
  tests/test_pals_settings.py
  tests/test_run_settings.py
Labels: area: settings, area: launcher, area: workload manager

#350 Smart Info
  smartsim/_core/_cli/cli.py
  smartsim/_core/_cli/info.py
  tests/test_cli.py
Labels: type: usability

#351 `smart validate` should not hang when error in TF process
  smartsim/_core/_cli/validate.py
Labels: bug: minor
