Repository CrayLabs/SmartSim, pull requests merged in 2024-04, with the labels that each got.

#535 Enhanced Signal Management
  conftest.py
  doc/changelog.rst
  smartsim/_core/control/controller.py
  smartsim/_core/control/jobmanager.py
  smartsim/_core/utils/helpers.py
  tests/test_helpers.py
  tests/test_interrupt.py
Labels: type: refactor, bug: minor

#533 Change default path for entities
  .pylintrc
  doc/changelog.rst
  doc/experiment.rst
  smartsim/database/orchestrator.py
  smartsim/entity/ensemble.py
  smartsim/entity/model.py
  smartsim/experiment.py
  tests/backends/test_dbmodel.py
  tests/full_wlm/test_generic_batch_launch.py
  tests/full_wlm/test_generic_orc_launch_batch.py
  tests/on_wlm/test_generic_orc_launch.py
  tests/on_wlm/test_simple_entity_launch.py
  tests/on_wlm/test_stop.py
  tests/test_experiment.py
  tests/test_interrupt.py
  tests/test_local_launch.py
  tests/test_local_restart.py
  tests/test_manifest.py
  tests/test_multidb.py
  tests/test_reconnect_orchestrator.py
  tests/test_telemetry_monitor.py
Labels: type: feature, area: python, repo: smartsim

#559 Fix failing and noisy WLM test
  doc/changelog.rst
  tests/backends/test_onnx.py
  tests/full_wlm/test_generic_orc_launch_batch.py
  tests/on_wlm/test_het_job.py
Labels: area: test, type: refactor

#570 Set GH_TOKEN environment variable to use Github CLI in workflow
  .github/workflows/release.yml
  doc/changelog.rst
Labels: area: CI/CD
