Repository CrayLabs/SmartSim, pull requests merged in 2024-03, with the labels that each got.

#512 ReadTheDocs Configuration File
  .readthedocs.yaml
  doc/changelog.rst
  doc/conf.py
Labels: area: docs, type: feature, area: CI/CD

#517 Correct ExecArgs Handling During RunSetting
  doc/changelog.rst
  smartsim/settings/base.py
  tests/test_run_settings.py
Labels: area: settings, bug: minor, area: python, repo: smartsim

#520 Remove duplicate launched model names from full test suite
  doc/changelog.rst
  tests/full_wlm/test_mpmd.py
Labels: area: test

#524 Mypy: Error on Common Truthy Mistakes
  doc/changelog.rst
  pyproject.toml
  smartsim/_core/_cli/build.py
  smartsim/_core/generation/modelwriter.py
  smartsim/database/orchestrator.py
  smartsim/entity/ensemble.py
  smartsim/entity/model.py
Labels: type: refactor, area: CI/CD

#522 Application executes before colocated Orchestrator is created
  doc/changelog.rst
  smartsim/_core/entrypoints/colocated.py
  smartsim/_core/launcher/colocated.py
Labels: area: orchestrator, area: launcher, bug: major

#527 Promote Build Device Option to Enum
  doc/changelog.rst
  smartsim/_core/_cli/build.py
  smartsim/_core/_cli/validate.py
  smartsim/_core/_install/builder.py
  smartsim/entity/dbobject.py
  smartsim/entity/ensemble.py
  smartsim/entity/model.py
  tests/backends/test_cli_mini_exp.py
  tests/install/test_builder.py
Labels: area: build, type: refactor, short task

#521 Disallow Uninitialized Variable Use
  doc/changelog.rst
  pyproject.toml
  smartsim/_core/_cli/validate.py
  smartsim/_core/entrypoints/colocated.py
  smartsim/ml/tf/__init__.py
Labels: type: refactor, bug: minor, short task
