Repository CrayLabs/SmartSim, pull requests merged in 2024-08, with the labels that each got.

#633 Add FeatureStore descriptor to tensor & model keys
  doc/changelog.md
  ex/high_throughput_inference/mli_driver.py
  ex/high_throughput_inference/mock_app.py
  ex/high_throughput_inference/standalone_workermanager.py
  smartsim/_core/_cli/scripts/dragon_install.py
  smartsim/_core/launcher/dragon/dragonBackend.py
  smartsim/_core/mli/comm/channel/channel.py
  smartsim/_core/mli/comm/channel/dragonchannel.py
  smartsim/_core/mli/comm/channel/dragonfli.py
  smartsim/_core/mli/infrastructure/control/workermanager.py
  smartsim/_core/mli/infrastructure/environmentloader.py
  smartsim/_core/mli/infrastructure/storage/dragonfeaturestore.py
  smartsim/_core/mli/infrastructure/storage/featurestore.py
  smartsim/_core/mli/infrastructure/worker/worker.py
  smartsim/_core/mli/message_handler.py
  smartsim/_core/mli/mli_schemas/data/data_references.capnp
  smartsim/_core/mli/mli_schemas/data/data_references_capnp.pyi
  tests/dragon/featurestore.py
  tests/dragon/test_environment_loader.py
  tests/dragon/test_error_handling.py
  tests/dragon/test_reply_building.py
  tests/dragon/test_worker_manager.py
  tests/dragon/utils/channel.py
  tests/dragon/utils/worker.py
  tests/mli/channel.py
  tests/mli/featurestore.py
  tests/mli/test_core_machine_learning_worker.py
  tests/mli/test_torch_worker.py
  tests/mli/worker.py
  tests/test_dragon_run_policy.py
  tests/test_message_handler/test_build_model_key.py
  tests/test_message_handler/test_build_tensor_key.py
  tests/test_message_handler/test_output_descriptor.py
  tests/test_message_handler/test_request.py
  tests/test_message_handler/test_response.py
Labels: area: settings, area: ML, repo: smartsim

#655 Simple Status Checking
  smartsim/_core/control/jobmanager.py
  smartsim/_core/control/launch_history.py
  smartsim/_core/launcher/dragon/dragonBackend.py
  smartsim/_core/launcher/dragon/dragonLauncher.py
  smartsim/_core/utils/helpers.py
  smartsim/error/errors.py
  smartsim/experiment.py
  smartsim/settings/dispatch.py
  smartsim/status.py
  tests/temp_tests/test_settings/conftest.py
  tests/temp_tests/test_settings/test_dispatch.py
  tests/test_experiment.py
  tests/test_launch_history.py
Labels: type: feature, area: launcher, area: api, ignore-for-release

#663 Rename Status Enums
  smartsim/_core/control/controller.py
  smartsim/_core/control/job.py
  smartsim/_core/control/jobmanager.py
  smartsim/_core/launcher/dragon/dragonBackend.py
  smartsim/_core/launcher/dragon/dragonLauncher.py
  smartsim/_core/launcher/lsf/lsfLauncher.py
  smartsim/_core/launcher/pbs/pbsLauncher.py
  smartsim/_core/launcher/sge/sgeLauncher.py
  smartsim/_core/launcher/slurm/slurmLauncher.py
  smartsim/_core/launcher/stepInfo.py
  smartsim/_core/schemas/dragonResponses.py
  smartsim/_core/utils/telemetry/util.py
  smartsim/experiment.py
  smartsim/settings/dispatch.py
  smartsim/status.py
  tests/_legacy/backends/test_dataloader.py
  tests/_legacy/backends/test_dbmodel.py
  tests/_legacy/backends/test_dbscript.py
  tests/_legacy/backends/test_onnx.py
  tests/_legacy/backends/test_tf.py
  tests/_legacy/backends/test_torch.py
  tests/_legacy/full_wlm/test_generic_batch_launch.py
  tests/_legacy/full_wlm/test_generic_orc_launch_batch.py
  tests/_legacy/full_wlm/test_mpmd.py
  tests/_legacy/on_wlm/test_base_settings_on_wlm.py
  tests/_legacy/on_wlm/test_colocated_model.py
  tests/_legacy/on_wlm/test_containers_wlm.py
  tests/_legacy/on_wlm/test_dragon.py
  tests/_legacy/on_wlm/test_generic_orc_launch.py
  tests/_legacy/on_wlm/test_launch_errors.py
  tests/_legacy/on_wlm/test_launch_ompi_lsf.py
  tests/_legacy/on_wlm/test_restart.py
  tests/_legacy/on_wlm/test_simple_base_settings_on_wlm.py
  tests/_legacy/on_wlm/test_simple_entity_launch.py
  tests/_legacy/on_wlm/test_stop.py
  tests/_legacy/test_colo_model_local.py
  tests/_legacy/test_containers.py
  tests/_legacy/test_dragon_run_request.py
  tests/_legacy/test_experiment.py
  tests/_legacy/test_launch_errors.py
  tests/_legacy/test_local_launch.py
  tests/_legacy/test_local_multi_run.py
  tests/_legacy/test_local_restart.py
  tests/_legacy/test_multidb.py
  tests/_legacy/test_reconnect_orchestrator.py
  tests/_legacy/test_run_settings.py
  tests/_legacy/test_smartredis.py
  tests/_legacy/test_step_info.py
  tests/_legacy/test_telemetry_monitor.py
  tests/test_experiment.py
Labels: type: refactor, type: chore, ignore-for-release

#670 Poll Based Waiting for Job Completion
  smartsim/_core/control/interval.py
  smartsim/_core/utils/helpers.py
  smartsim/experiment.py
  tests/test_experiment.py
  tests/test_intervals.py
Labels: type: feature, area: api, type: usability, ignore-for-release

#666 SmartSim environment variables updated using new naming convention
  doc/changelog.md
  smartsim/_core/_cli/build.py
  smartsim/_core/_install/builder.py
  smartsim/_core/config/config.py
  smartsim/_core/utils/helpers.py
  smartsim/database/orchestrator.py
  smartsim/experiment.py
  tests/on_wlm/test_dragon.py
  tests/test_config.py
Labels: API break

#677 Experiment Can Stop Launched Jobs
  smartsim/_core/launcher/dragon/dragonLauncher.py
  smartsim/_core/shell/shellLauncher.py
  smartsim/_core/utils/launcher.py
  smartsim/experiment.py
  tests/temp_tests/test_settings/conftest.py
  tests/temp_tests/test_settings/test_dispatch.py
  tests/test_experiment.py
  tests/test_generator.py
  tests/test_launch_history.py
  tests/test_shell_launcher.py
Labels: type: feature, area: launcher, area: api, ignore-for-release
