Repository CrayLabs/SmartSim, pull requests merged in 2024-07, with the labels that each got.

#642 Fix-hostname
  doc/changelog.md
  smartsim/_core/launcher/dragon/dragonBackend.py
Labels: bug: minor, area: Dragon, ignore-for-release

#615 Command Generation
  setup.py
  smartsim/_core/entrypoints/file_operations.py
  tests/test_configs/generator_files/easy/correct/invalidtag.txt
  tests/test_configs/generator_files/easy/marked/invalidtag.txt
  tests/test_file_operations.py
Labels: ignore-for-release

#646 Link up SmartSim Refactor CI
  .github/workflows/run_tests.yml
  tests/temp_tests/test_colocatedJobGroup.py
  tests/temp_tests/test_core/test_commands/test_command.py
  tests/temp_tests/test_core/test_commands/test_commandList.py
  tests/temp_tests/test_core/test_commands/test_launchCommands.py
  tests/temp_tests/test_jobGroup.py
  tests/temp_tests/test_launchable.py
  tests/temp_tests/test_settings/test_alpsLauncher.py
  tests/temp_tests/test_settings/test_batchSettings.py
  tests/temp_tests/test_settings/test_common.py
  tests/temp_tests/test_settings/test_dragonLauncher.py
  tests/temp_tests/test_settings/test_launchSettings.py
  tests/temp_tests/test_settings/test_localLauncher.py
  tests/temp_tests/test_settings/test_lsfLauncher.py
  tests/temp_tests/test_settings/test_lsfScheduler.py
  tests/temp_tests/test_settings/test_mpiLauncher.py
  tests/temp_tests/test_settings/test_palsLauncher.py
  tests/temp_tests/test_settings/test_pbsScheduler.py
  tests/temp_tests/test_settings/test_slurmLauncher.py
  tests/temp_tests/test_settings/test_slurmScheduler.py
Labels: area: CI/CD, ignore-for-release

#648 Fix test overwriting a test configuration file
  tests/test_file_operations.py
Labels: area: test, bug: minor, ignore-for-release
